<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"><link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body{
            background-color: #3e3e3e;
            color: white;
        }
    </style>
    <title>Cheems Store | Dogs</title>
</head>
<body>
    <h1>Very much VIP Dogs</h1>
    <form class="form-signin" method="get" action="/logout">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Logout</button>
    </form>
</body>
</html>